.MainPage {
  display: grid;
  margin: auto;
  grid-template-rows: 4% 19% 12% 13%;;
  grid-template-columns: 26% 70%;
  height: 80%;
  overflow: hidden;
  grid-template-areas:
    'menu header '
    'menu calendar'
    'current-balance calendar'
    'current-cost cost-list'
    'news revenue-list';
}

.footer__mobile{
  display: none;
}
.header {
  grid-area: header;
  background-color: rgba(41, 38, 78, 1);
  height: 60px;
}

.navitagion {
  grid-area: menu;
  background-color: rgba(62, 59, 100, 1);
}
.calendar {
  grid-area: calendar;
  background-color: rgba(41, 38, 78, 1);
  height: 370px;
}

.cost-list__container {
  grid-area: cost-list;
  background-color: rgba(62, 59, 100, 1);
}

.revenue-list__container {
  grid-area: revenue-list;
  background-color: rgba(62, 59, 100, 1);
}

.current_balance {
  grid-area: current-balance;
  background-color: rgba(62, 59, 100, 1);
}

.current_cost {
  grid-area: current-cost;
  background-color: rgba(62, 59, 100, 1);
}
.news {
  grid-area: news;
  background-color: rgba(62, 59, 100, 1);
}

@media screen and (min-width: 320px) and (max-width: 880px) {
  .MainPage {
    display: grid;
    margin: auto;
    grid-template-rows:
    2% 7% 23% 8% 9% 11% 16% 20% 1%;
    grid-template-columns: 100%; 
    overflow: hidden;
    grid-template-areas:
      'header'
      'menu'
      'calendar'
      'current-balance'
      'current-cost'
      'cost-list'
      'revenue-list'
      'news'
      'footer';
  }

  .header {
    grid-area: header;
    background-color: rgba(41, 38, 78, 1);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
  }

  .navigation {
    grid-area: menu;
    background-color: rgba(62, 59, 100, 1);
    padding: 10px;
    color: white;
    font-size: 16px;
    text-align: center;
  }

  .calendar {
    grid-area: calendar;
    background-color: rgba(41, 38, 78, 1);
    height: 370px;
    color: white;
    font-size: 16px;
    text-align: center;
  }

  .current_balance {
    grid-area: current-balance;
    background-color: rgba(62, 59, 100, 1);
    color: white;
    font-size: 16px;
    text-align: center;
  }

  .current_cost {
    grid-area: current-cost;
    background-color: rgba(62, 59, 100, 1);
    color: white;
    font-size: 16px;
    text-align: center;
  }

  .cost-list__container {
    grid-area: cost-list;
    background-color: rgba(62, 59, 100, 1);
    padding: 15px;
    color: white;
    font-size: 16px;
  }

  .revenue-list__container {
    grid-area: revenue-list;
    background-color: rgba(62, 59, 100, 1);
    padding: 15px;
    color: white;
    font-size: 16px;
  }

  .news {
    grid-area: news;
    background-color: rgba(62, 59, 100, 1);
    color: white;
    font-size: 16px;
    text-align: center;
    justify-self: baseline;
  }
  .footer__mobile{
    grid-area: footer;
  }
}
